{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^@/comp/(.*)$", "^@/util/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
